@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-be-vietnam-pro);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;

  /* Base */
  --background: #f6f9fd;
  --foreground: #0f172a;

  /* Surfaces */
  --card: #ffffff;
  --card-foreground: #0f172a;
  --popover: #ffffff;
  --popover-foreground: #0f172a;

  /* Primary – CTA */
  --primary: #2563eb;
  /* blue-600 */
  --primary-foreground: #ffffff;

  /* Secondary – section / hover */
  --secondary: #eef2ff;
  /* indigo-50 */
  --secondary-foreground: #1e3a8a;

  /* Muted – background phụ */
  --muted: #e5e7eb;
  --muted-foreground: #64748b;

  /* Accent – tag / icon / trạng thái */
  --accent: #3b82f6;
  /* blue-500 */
  --accent-foreground: #ffffff;

  /* Danger */
  --destructive: #dc2626;

  /* Borders & input */
  --border: #dbe2f0;
  --input: #979ba0;

  /* Focus */
  --ring: #2563eb;
}


.dark {
  /* Base */
  --background: #0b1220;
  --foreground: #e5e7eb;

  /* Surfaces */
  --card: #111827;
  /* gray-900 */
  --card-foreground: #e5e7eb;
  --popover: #111827;
  --popover-foreground: #e5e7eb;

  /* Primary */
  --primary: #3b82f6;
  /* blue-500 */
  --primary-foreground: #0b1220;

  /* Secondary */
  --secondary: #1e293b;
  --secondary-foreground: #e5e7eb;

  /* Muted */
  --muted: #1f2937;
  --muted-foreground: #9ca3af;

  /* Accent */
  --accent: #60a5fa;
  --accent-foreground: #0b1220;

  /* Danger */
  --destructive: #ef4444;

  /* Borders & input */
  --border: #1f2a44;
  --input: #1f2a44;

  /* Focus */
  --ring: #60a5fa;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}