**/bin/
**/obj/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.cache
**/node_modules/
**/.git/
**/.gitignore
**/*.md
**/Dockerfile
**/.dockerignore
**/logs/
**/*.log
**/.env*
**/Properties/launchSettings.json
**/UteLearningHub.UnitTest/
**/*.Tests/
**/TestResults/
